@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap";
@import "./userAuth.scss";
@import "./profileDetail.scss";
@import "./premium.module.scss";
/* Header CSS */
/* main-section CSS */
/* Responsive Css */
/* Footer */
html {
	padding: 0;
	margin: 0;
	font-family: "Roboto";
	height: 100%;
	background-color: #f1f4f8;
}
body {
	padding: 0;
	margin: 0;
	font-family: "Roboto";
	height: 100%;
	background-color: #f1f4f8;
}
#__next {
	height: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
.stockathon-nav {
	padding: 0px 20px;
	background: #fff;
	.nav-link {
		font-size: 15px;
		letter-spacing: 0px;
		color: #334680 !important;
		font-weight: 400;
		font-family: "Roboto";
		padding: 17px 25px !important;
		transition: 0.2s all ease-in-out;
		&:hover {
			color: #2766ea !important;
		}
	}
}
.header-form {
	position: relative;
	margin: 0px 30px;
	width: 37%;
}
.header-search {
	width: 100%;
	.rbt {
		width: 100%;
	}
	input {
		width: 100% !important;
		height: 38px !important;
		border-radius: 4px !important;
		background-color: #f1f4f8;
		border: 1px solid rgba(223, 225, 229, 0.8) !important;
		font-size: 15px;
		color: #334680;
		font-weight: 400;
		font-family: "Roboto";
		padding-left: 50px;
		&::placeholder {
			color: #929dbc;
		}
		&:focus {
			outline: 0;
			box-shadow: none;
			border-color: rgba(223, 225, 229, 0.8) !important;
		}
	}
	.rbt-input-main {
		background-color: #f1f4f8;
	}
}
.header-search-btn {
	height: 38px !important;
	background-color: transparent !important;
	color: #1551ef !important;
	border: 0px;
	position: absolute;
	left: 16px;
	padding: 0px;
	box-shadow: none !important;
}
.navbar-brand {
	img {
		vertical-align: bottom;
	}
}
.header-btns {
	display: flex;
}
.header-login-btn {
	width: 95px;
	height: 35px;
	border-radius: 3px;
	background-color: #ffffff !important;
	border: 1px solid #e6ecef !important;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 15px;
	margin: 11px;
	color: #334680 !important;
	font-weight: 500;
	font-family: "Roboto";
	outline: 0px !important;
	box-shadow: none !important;
	&:hover {
		border-color: #00cf85 !important;
		background-color: #00cf85 !important;
		color: #fff !important;
	}
}
.header-register-btn {
	width: 95px;
	height: 35px;
	border-radius: 3px;
	background-color: #00cf85 !important;
	border: 1px solid #00cf85 !important;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 15px;
	margin: 11px;
	color: #fff !important;
	font-weight: 500;
	font-family: "Roboto";
	outline: 0px !important;
	box-shadow: none !important;
	&:hover {
		border-color: #e6ecef !important;
		background-color: #fff !important;
		color: #334680 !important;
	}
}
.navbar-toggler.x {
	border: none;
	&:focus {
		outline: none;
	}
	.icon-bar {
		&:nth-of-type(1) {
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transform-origin: 10% 10%;
			-ms-transform-origin: 10% 10%;
			transform-origin: 10% 10%;
			position: absolute;
			top: 14px;
		}
		&:nth-of-type(2) {
			opacity: 0;
			filter: alpha(opacity=0);
		}
		&:nth-of-type(3) {
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			-webkit-transform-origin: 10% 90%;
			-ms-transform-origin: 10% 90%;
			transform-origin: 10% 90%;
			position: absolute;
			top: 26px;
		}
		width: 22px;
		display: block;
		height: 2px;
		background-color: #1a1f61;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
	}
}
.navbar-toggler.x.collapsed {
	.icon-bar {
		+ {
			.icon-bar {
				margin-top: 4px;
			}
		}
		&:nth-of-type(1) {
			-webkit-transform: rotate(0);
			-ms-transform: rotate(0);
			transform: rotate(0);
			position: unset;
		}
		&:nth-of-type(2) {
			opacity: 1;
			filter: alpha(opacity=100);
		}
		&:nth-of-type(3) {
			-webkit-transform: rotate(0);
			-ms-transform: rotate(0);
			transform: rotate(0);
			position: unset;
		}
	}
}
.main-section {
	background: #1a2366 url(/images/home-bg.jpg) center center no-repeat;
	background-size: cover;
	padding: 45px 0px;
}
.homepage-logo {
	padding: 40px 0px;
	img {
		width: 360px;
	}
	p {
		font-size: 18px;
		letter-spacing: 0px;
		color: #ffffff;
		font-weight: 400;
		font-family: "Roboto";
		margin: 10px 0px;
	}
}
.mobile-logo {
	display: none;
}
.homepage-search {
	text-align: center;
	h1 {
		font-size: 33px;
		color: #ffffff;
		font-weight: 300;
		font-family: "Roboto";
	}
}
.homepage-form {
	position: relative;
	width: 570px;
	margin: 30px auto;
	input {
		height: 55px;
		border-radius: 5px;
		filter: drop-shadow(0px 4px 12.5px rgba(149, 161, 178, 0.2));
		background-color: #ffffff;
		border: 1px solid rgba(230, 236, 239, 0.6);
		font-size: 16px;
		color: #9398a1;
		font-weight: 400;
		font-family: "Roboto";
		padding: 10px 20px;
		padding-right: 50px;
		&::placeholder {
			color: #9398a1;
		}
	}
	button {
		height: 55px !important;
		background-color: transparent !important;
		color: #1551ef !important;
		border: 0px;
		position: absolute;
		right: 22px;
		top: 0px;
		padding: 0px;
		box-shadow: none !important;
	}
}
.rbt-aux {
	.rbt-close {
		margin-top: -2px !important;
		right: 60px;
	}
}
.homepage-links {
	width: 570px;
	margin: 0px auto;
	text-align: center;
	a {
		width: auto;
		padding: 3px 15px;
		border-radius: 3px;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid transparent;
		font-size: 13px;
		line-height: 25px;
		color: #ffffff;
		font-weight: 400;
		text-align: center;
		display: inline-block;
		text-decoration: none;
		margin: 5px;
		transition: 0.2s all ease-in-out;
		&:hover {
			border-color: #fff;
		}
	}
}
.view-all-link {
	background: #00cf85 !important;
	font-weight: 500 !important;
	border-color: #00cf85 !important;
}
.browse-companies {
	p {
		text-align: center;
		font-size: 15px;
		letter-spacing: 0px;
		color: #a3a4bf;
		font-weight: 400;
		font-family: "Roboto";
		margin: 60px 0px;
	}
}
.homepage-news {
	position: relative;
	.news-heading {
		border-radius: 3px;
		border: 1px solid #ffffff;
		text-decoration: none;
		font-size: 15px;
		color: #ffffff;
		font-weight: 400;
		font-family: "Roboto";
		padding: 6px 15px;
		position: absolute;
		z-index: 99;
	}
}
.news-slider {
	padding-left: 85px;
	marquee {
		padding: 5px;
	}
	a {
		font-size: 15px;
		letter-spacing: 0px;
		line-height: 25px;
		color: #ffffff;
		font-weight: 400;
		font-family: "Roboto";
		margin: 0px 15px;
	}
}
.footer-section {
	background-color: #fff;
	padding: 50px 0px;
}
.footer-links {
	ul {
		list-style: none;
		margin: 0px 0px 20px;
		padding: 0px;
		text-align: center;
		li {
			display: inline-block;
			a {
				font-size: 15px;
				letter-spacing: 0px;
				color: #334680;
				font-weight: 400;
				font-family: "Roboto";
				text-decoration: none;
				padding: 5px 16px;
				transition: 0.2s all ease-in-out;
				&:hover {
					color: #2766ea !important;
				}
			}
		}
	}
}
.footer-copyright {
	text-align: center;
	margin: 0px auto;
	p {
		font-size: 14px;
		letter-spacing: 0px;
		color: #334680;
		font-weight: 400;
		font-family: "Roboto";
		margin: 0px auto;
		span {
			color: #1652f0;
		}
	}
}
@media (max-width: 992px) {
	.navbar-toggler {
		padding: 0.25rem 0;
	}
	.stockathon-nav {
		padding: 0px 10px;
		.nav-link {
			font-size: 15px;
			color: #fff !important;
			padding: 15px 0px !important;
		}
	}
	.header-form {
		display: none;
	}
	.header-btns {
		position: absolute;
		bottom: 50px;
		left: 0px;
		width: 100%;
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 50px;
		left: 0px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.navbar-collapse {
		position: fixed;
		bottom: 0px;
		top: 42px;
		left: 0;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		padding-top: 15px;
		width: 300px;
		background: rgba(0, 0, 0, 0.9);
		z-index: 9999;
		height: 100%;
	}
	.navbar-collapse.collapsing {
		left: -75%;
		transition: height 0s ease;
	}
	.navbar-collapse.show {
		left: 0;
		transition: left 300ms ease-in-out;
	}
	.navbar-toggler.collapsed {
		~ {
			.navbar-collapse {
				transition: left 500ms ease-in-out;
			}
		}
	}
}
@media (min-width: 993px) and (max-width: 1199px) {
	.stockathon-nav {
		.nav-link {
			padding: 17px 15px !important;
		}
	}
	.header-login-btn {
		width: 75px;
		height: 35px;
	}
	.header-register-btn {
		width: 75px;
		height: 35px;
	}
	.header-search-btn {
		left: 10px;
	}
	.header-search {
		input {
			padding-left: 35px;
		}
	}
	.header-form {
		margin: 0px 10px;
	}
}
@media (min-width: 300px) and (max-width: 767px) {
	.homepage-links {
		width: 100%;
		a {
			padding: 2px 10px;
			font-size: 11px;
			line-height: 22px;
			margin: 5px;
		}
	}
	.homepage-form {
		width: 100%;
		margin: 20px auto;
		input {
			height: 42px;
			border-radius: 3px;
			font-size: 13px;
			padding: 5px 10px;
			padding-right: 35px;
		}
		button {
			height: 42px !important;
			right: 10px;
		}
	}
	.homepage-logo {
		padding: 20px 0px;
		img {
			width: 60px;
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
		}
	}
	.mobile-logo {
		display: inline-block;
	}
	.desktop-logo {
		display: none;
	}
	.rbt-aux {
		.rbt-close {
			right: 40px;
		}
	}
	.homepage-search {
		h1 {
			font-size: 27px;
		}
	}
	.browse-companies {
		p {
			font-size: 13px;
			margin: 40px 0px;
		}
	}
	.homepage-news {
		.news-heading {
			font-size: 13px;
			padding: 4px 10px;
		}
	}
	.news-slider {
		padding-left: 65px;
		a {
			font-size: 12px;
			line-height: 20px;
			margin: 0px 10px;
		}
		marquee {
			padding: 0px;
		}
	}
	.footer-section {
		padding: 25px 0px;
	}
	.footer-links {
		ul {
			margin: 0px 0px 10px;
			li {
				a {
					font-size: 13px;
					padding: 5px 10px;
				}
			}
		}
	}
	.footer-copyright {
		p {
			font-size: 12px;
			margin: 0px auto;
		}
	}
}
