/* ================ */
.content-pages {
	padding: 100px 0px 0px 0px;
}
.heading-classes {
	h1 {
		font-size: 35px;
		color: #1b2467;
		font-weight: 600;
	}
	p {
		font-size: 18px;
		letter-spacing: 0px;
		color: #a3a4bf;
		font-weight: 400;
		margin: 10px 0px;
	}
}
.wrapper {
	color: #ffffff;
	text-align: left;
	font-size: 16px;
	width: 100%;
	align-items: center;
	.plan {
		margin: 0;
		position: relative;
		background-color: #1a2366;
		border: 1px solid #1e1e1e;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		&:hover {
			background-color: #1c1c1c;
			svg {
				-webkit-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
	}
	.plan.hover {
		svg {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	header {
		position: relative;
		padding: 20px 10px;
		padding-top: 40px;
		svg {
			font-size: 45px;
			margin: 0 15px;
			color: #00cf85;
			display: inline-block;
			float: left;
		}
	}
	.plan-title {
		top: 0;
		font-weight: 500;
		margin: 0px;
		padding: 0px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.plan-cost {
		margin: 0;
		opacity: 0.4;
	}
	.plan-price {
		font-family: 'Montserrat', Arial, sans-serif;
		font-weight: 800;
		font-size: 1.3em;
	}
	.plan-type {
		opacity: 0.8;
		font-size: 0.7em;
		text-transform: uppercase;
	}
	.plan-features {
		padding: 0;
		margin: 0 0 40px;
		text-align: center;
		list-style: outside none none;
		font-size: 0.8em;
		text-align: left;
		li {
			padding: 6px 4%;
			font-weight: 500;
			opacity: 0.6;
		}
	}
	.plan-select {
		background-color: rgba(0, 0, 0, 0.2);
		text-align: center;
		a {
			color: #ffffff;
			text-decoration: none;
			padding: 10px 20px;
			margin: 20px;
			border-radius: 40px;
			font-size: 0.75em;
			font-weight: 500;
			text-transform: uppercase;
			display: inline-block;
			background-color: #00cf85;
			border: 1px solid transparent;
			&:hover {
				background-color: #ffffff;
				border: 1px solid #e6ecef;
				color: #334680;
			}
		}
	}
	.featured {
		margin-top: -10px;
		background-color: #262626;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		z-index: 1;
		.plan-select {
			a {
				margin: 30px 20px;
			}
		}
	}
}
.wrapper {
	.plan.hover {
		background-color: #1c1c1c;
	}
}
.plan-features {
	li {
		svg {
			font-size: 15px;
			margin-right: 10px;
		}
	}
	h4 {
		padding: 0px 4%;
		font-weight: 500;
		font-size: 14px;
	}
}
.price-footer {
	padding: 50px 0px;
	p {
		font-size: 15px;
		letter-spacing: 0px;
		color: #334680;
		font-weight: 400;
		font-family: "Roboto";
		text-decoration: none;
	}
}
.faq-section {
	background: #fff;
	padding: 40px 0px;
	h5 {
		padding: 0px;
		margin: 0px;
		font-size: 35px;
		color: #1b2467;
		font-weight: 600;
	}
}
.sub_heading {
	font-size: 18px;
	letter-spacing: 0px;
	color: #a3a4bf;
	font-weight: 400;
	margin: 10px 0px;
}
.quetions_listing {
	padding: 20px 15px;
	border: 1px solid #1b2467;
	border-radius: 4px;
	margin-bottom: 15px;
	h5 {
		font-size: 15px;
		font-weight: 400;
	}
	p {
		font-size: 13px;
		color: #a3a4bf;
		font-weight: 400;
		padding-left: 30px;
	}
	span {
		width: 20px;
		height: 20px;
		display: inline-block;
		line-height: 20px;
		color: #fff;
		background: #1b2467;
		border-radius: 100%;
		text-align: center;
		font-size: 12px;
		margin-right: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.wrapper {
		.plan-title {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			font-size: 16px;
		}
		.plan-select {
			a {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				margin: 20px;
			}
		}
		.featured {
			.plan-select {
				a {
					margin: 20px;
				}
			}
			margin-top: 0;
		}
		header {
			svg {
				margin: 0px 10px 0px 0px;
				font-size: 34px;
			}
			padding-top: 20px;
		}
		margin: 0px;
		.plan {
			margin-bottom: 15px;
		}
		.col-lg-6 {
			padding: 0px 0px;
		}
	}
	.faq-section {
		h5 {
			font-size: 20px;
		}
		padding: 20px 0px;
	}
	.heading-classes {
		h1 {
			font-size: 20px;
		}
	}
	.content-pages {
		padding-top: 30px;
	}
	.price-footer {
		padding: 20px 0px;
	}
}
@media only screen and (max-width: 440px) {
	.wrapper {
		.plan {
			width: 100%;
		}
	}
}
