::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #071e57;
  outline: 1px solid slategrey;
  height: 0px;
}
.table-responsive {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f4f8;
    height: 4px;
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #071e57;
    outline: 0px;
  }
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
span,
table,
tr,
td,
th {
  font-family: "Roboto" !important;
}
.profile-main-section {
  background-color: #f1f4f8;
}
.profile-banner-section {
  background: #1a2366 url(/images/profile-page-bg.jpg) center center no-repeat;
  background-size: cover;
  .banner-heading {
    h1 {
      font-size: 38px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Roboto";
      margin: 0px;
      span {
        font-size: 15px;
        letter-spacing: 0px;
        color: #babccf;
        font-weight: 400;
        font-family: "Roboto";
      }
    }
    h2 {
      font-size: 30px;
      letter-spacing: 1px;
      color: #ffffff;
      font-weight: 900;
      margin: 0px;
      font-family: "Roboto";
      span {
        font-size: 18px;
        letter-spacing: 0px;
        font-weight: 700;
        font-family: "Roboto";
        svg {
          font-size: 18px;
        }
      }
      span.high {
        color: #00cf85;
      }
      span.low {
        color: #e6191e !important;
      }
    }
  }
}
.banner-btns {
  text-align: right;
  padding: 10px 0px;
  button {
    margin-left: 20px;
    svg {
      font-size: 18px;
      vertical-align: text-bottom;
      margin-right: 2px;
    }
  }
  .watchlist-btn {
    width: 175px;
    height: 40px;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 0px rgba(0, 3, 24, 0.04)) !important;
    background: #00cf85 !important;
    border: 1px solid transparent !important;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    transition: 0.2s all ease-in-out;
    &:hover {
      background: #fff !important;
      color: #334680 !important;
      border-color: #e6ecef !important;
    }
  }
  .save-alert {
    width: 128px;
    height: 40px;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 0px rgba(0, 3, 24, 0.04)) !important;
    background: rgba(0, 0, 0, 0.3) !important;
    border: 1px solid transparent !important;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    &:hover {
      background: #fff !important;
      color: #334680 !important;
      border-color: #e6ecef !important;
    }
  }
}
.profile-ratio {
  ul {
    list-style: none;
    margin: 10px 0px 25px;
    padding: 0px;
    li {
      display: inline-block;
      margin-right: 75px;
      h5 {
        font-size: 15px;
        letter-spacing: 0px;
        color: #babccf;
        font-weight: 400;
        font-family: "Roboto";
        margin-bottom: 5px;
      }
      span {
        font-size: 16px;
        letter-spacing: 0px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Roboto";
      }
    }
  }
}
.profile-tabs {
  ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    li {
      margin-right: 2px;
      display: inline-block;
      a {
        text-decoration: none;
        color: #babccf;
        font-weight: 400;
        font-family: "Roboto";
        width: auto;
        border-radius: 3px 3px 0px 0px;
        padding: 10px 22px;
        font-size: 15px;
        display: block;
        background: rgba(255, 255, 255, 0.1);
        transition: 0.2s all ease-in-out;
        &:hover {
          color: #1652f0;
          background: #fff;
        }
      }
      a.active-tab {
        color: #1652f0;
        background: #fff;
      }
    }
  }
}
.profile-content-section {
  padding: 20px 0px;
  .overview-box {
    border-radius: 5px;
    filter: drop-shadow(0px 8px 6.5px rgba(39, 50, 68, 0.04));
    background-color: #ffffff;
    padding: 20px 22px 15px;
    margin: 10px 0px;
    .overview-ul {
      margin: 0px 0px 0px;
      padding: 0px;
      list-style: none;
      li {
        a {
          display: block;
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 0px;
          color: #495666;
          font-weight: 400;
          padding: 7px 15px 7px 25px;
          position: relative;
          transition: 0.2s all ease-in-out;
          span {
            font-size: 15px;
            color: #273244;
            font-weight: 700;
            float: right;
          }
          &::before {
            content: "\2022";
            color: #9aa5b5 !important;
            font-size: 30px;
            position: absolute;
            top: -5px;
            left: 9px;
          }
          &:hover {
            background-color: #ebfbf5 !important;
            color: #00cf85;
            &::before {
              color: #00cf85 !important;
            }
          }
        }
      }
    }
    .overview-ul-right {
      margin: 0px 0px 0px;
      padding: 0px;
      list-style: none;
      li {
        display: block;
        font-size: 14px;
        letter-spacing: 0px;
        color: #495666;
        font-weight: 400;
        padding: 7px 15px 7px 25px;
        position: relative;
        &::before {
          content: "\2022";
          color: #9aa5b5 !important;
          font-size: 30px;
          position: absolute;
          top: -5px;
          left: 9px;
        }
        span {
          font-size: 15px;
          color: #273244;
          font-weight: 700;
          float: right;
        }
      }
      .active-row {
        background-color: #f8fafd;
      }
    }
  }

  .table-box {
    border-radius: 5px;
    filter: drop-shadow(0px 8px 6.5px rgba(39, 50, 68, 0.04));
    background-color: #ffffff;
    padding: 25px 22px;
    margin: 10px 0px;
    .table-heading {
      font-size: 20px;
      letter-spacing: 0px;
      color: #1c242c;
      font-weight: 500;
      font-family: "Roboto";
      font-size: 20px;
      letter-spacing: 0px;
      color: #1c242c;
      font-weight: 500;
      font-family: "Roboto";
    }
    .table-p {
      font-size: 14px;
      letter-spacing: 0px;
      color: #495666;
      font-weight: 400;
      font-family: "Roboto";
      a {
        font-size: 14px;
        letter-spacing: 0px;
        color: #225bf0;
        font-weight: 400;
        font-family: "Roboto";
        text-decoration: none;
      }
    }
    .table-button {
      padding: 0px 22px;
      height: 40px;
      border-radius: 3px;
      box-shadow: none !important;
      background-color: #00cf85 !important;
      border: 1px solid #00cf85 !important;
      font-size: 14px;
      letter-spacing: 0px;
      color: #ffffff !important;
      font-weight: 500;
      font-family: "Roboto";
      float: right;
      &:hover {
        background: #fff !important;
        color: #334680 !important;
        border-color: #e6ecef !important;
      }
    }
    .table {
      margin-bottom: 0px;
      display: table !important;
      th {
        border: 0px !important;
        font-size: 13px;
        letter-spacing: 0px;
        color: #9aa5b5;
        font-weight: 400;
        font-family: "Roboto";
      }
      td {
        font-size: 14px;
        letter-spacing: 0px;
        color: #273244;
        font-weight: 400;
        font-family: "Roboto";
        border-top: 1px solid #dee2e6 !important;
        button {
          background: transparent !important;
          box-shadow: none !important;
          padding: 0px !important;
          color: #273244 !important;
          border: 0px !important;
          &:after {
            content: "+";
            font-weight: 400;
          }
        }
      }
      .inner-tbody {
        filter: drop-shadow(0 5px 5px rgba(185, 183, 200, 0.15));
        background-color: #fff;
        td {
          border: 0px !important;
        }
      }
      .sum-tr {
        background: #f8f8fc;
        td {
          font-weight: 500;
        }
      }
    }
  }
}
.cursor {
  cursor: pointer;
}
.active-tr {
  filter: drop-shadow(0 0 5px rgba(185, 183, 200, 0.15));
  background-color: #fff;
  td {
    button {
      &::after {
        content: "-" !important;
        font-weight: 600 !important;
      }
    }
    &:first-child {
      color: #1652f0 !important;
      font-weight: 500;
      button {
        color: #1652f0 !important;
      }
    }
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .profile-banner-section {
    .py-4 {
      padding-bottom: 0px !important;
    }
    .banner-heading {
      h1 {
        font-size: 28px;
        span {
          font-size: 12px;
        }
      }
      h2 {
        font-size: 19px;
        span {
          font-size: 13px;
          svg {
            font-size: 12px;
          }
        }
      }
    }
  }
  .banner-heading {
    text-align: center;
  }
  .banner-btns {
    text-align: center !important;
    button {
      width: auto !important;
      height: 35px !important;
      font-size: 12px !important;
      margin: 10px !important;
    }
  }
  .profile-ratio {
    ul {
      margin: 0px 0px 20px;
      text-align: center;
      li {
        margin: 10px 15px !important;
        h5 {
          font-size: 13px;
          margin-bottom: 3px;
        }
        span {
          font-size: 13px;
        }
      }
    }
  }
  .profile-tabs {
    ul {
      width: 615px;
      li {
        a {
          font-size: 12px;
          padding: 5px 10px;
        }
      }
    }
  }
  .table-box {
    border-radius: 3px;
    padding: 15px 15px;
    .table {
      margin-bottom: 0px;
      display: block !important;
      td {
        font-size: 11px;
        padding: 8px;
        white-space: nowrap;
      }
      th {
        font-size: 11px;
        padding: 8px;
        white-space: nowrap;
      }
    }
    .table-heading {
      font-size: 17px;
    }
    .table-p {
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
    .table-button {
      padding: 0px 13px;
      height: 35px;
      font-size: 12px;
      float: none;
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .profile-tabs {
    ul {
      li {
        a {
          font-size: 12px;
          padding: 5px 10px;
        }
      }
    }
  }
  .profile-banner-section {
    .banner-heading {
      h1 {
        font-size: 28px;
        span {
          font-size: 12px;
        }
      }
      h2 {
        font-size: 22px;
        span {
          font-size: 14px;
          svg {
            font-size: 13px;
          }
        }
      }
    }
  }
  .banner-btns {
    .save-alert {
      width: 110px;
      font-size: 12px;
      height: 37px;
    }
    .watchlist-btn {
      width: 140px;
      font-size: 12px;
      height: 37px;
    }
  }
  .profile-ratio {
    ul {
      li {
        h5 {
          font-size: 13px;
        }
        span {
          font-size: 13px;
        }
        margin-right: 40px;
      }
    }
  }
  .table-box {
    padding: 20px 15px;
    .table-heading {
      font-size: 18px;
    }
    .table-responsive {
      display: block !important;
    }
    .table-p {
      font-size: 13px;
      a {
        font-size: 13px;
      }
    }
    .table-button {
      font-size: 12px;
      padding: 0px 15px;
      height: 37px;
    }
    .table {
      td {
        font-size: 12px;
        white-space: nowrap;
        button {
          font-size: 12px;
          white-space: nowrap;
        }
      }
      th {
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .profile-tabs {
    ul {
      li {
        a {
          font-size: 14px;
          padding: 7px 17px;
        }
      }
    }
  }
  .profile-banner-section {
    .banner-heading {
      h1 {
        font-size: 34px;
        span {
          font-size: 14px;
        }
      }
      h2 {
        font-size: 27px;
        span {
          font-size: 16px;
          svg {
            font-size: 15px;
          }
        }
      }
    }
  }
  .banner-btns {
    .save-alert {
      width: 115px;
      font-size: 13px;
    }
    .watchlist-btn {
      width: 150px;
      font-size: 13px;
    }
  }
  .profile-ratio {
    ul {
      li {
        h5 {
          font-size: 14px;
        }
        span {
          font-size: 14px;
        }
        margin-right: 60px;
      }
    }
  }
  .table-box {
    .table-button {
      font-size: 13px;
    }
    .table {
      td {
        font-size: 13px;
      }
      th {
        font-size: 13px;
      }
    }
  }
}
